{% extends "base.html" %}

{% block title %}{{ block.super }} | {{ review.title }}{% endblock title %}

{% block content %}
<h1>{{ review.category }} - {{ review.title }}</h1>
<h3>{{ review.rating }}/10</h3>

{% if review.image %}
<img src="{{ review.image.url }}" width="{{ review.image.width }}" height="{{ review.image.height }}">
{% endif %}

<p>{{ review.comments }}</p>

{% endblock content %}
