{% extends "base.html" %}

{% block title %}{{ block.super }} | Reviews{% endblock title %}

{% block content %}
<h1>Available reviews</h1>
{% if review_list %}
	<ul>
	{% for review in review_list %}
		<li><a href="{{ review.get_absolute_url }}">{{ review.title }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No reviews available</p>
{% endif %}
{% endblock content %}
